[Unit]
Description=Spring

[Service]
User=spring
WOrkingDirectory=/home/spring
ExecStart=/usr/bin/java -jar /home/spring/app.jar

[Install]
WantedBy=multi-user.target

